<div class="row">
  <div class="col-xs-12">
    <img [src]="pet.imagepath" alt="{{pet.name}}" class="img-responsive"
         style= "max-height: 50px">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{pet.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropDown>
      <button class="btn btn-primary dropdown-toggle">
        Manage Pet<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a  (click)="sendItems()" style="cursor: pointer">To shopping list</a></li>
        <li><a style="cursor: pointer" [routerLink]="['edit']">Edit Pet</a></li>
        <li><a style="cursor: pointer" (click)="onDeletepet()">Delete Pet</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{pet.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let food of pet.foods">
        {{food.name}}-{{food.amount}}
      </li>
    </ul>
  </div>
</div>

